<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>순풋</title>
</head>
<body>
    <script>
        alert('이미 이 경기에 초대되었습니다. 초대된경기를 확인해주세요')
        location.href="/invited_match"
    </script>
    
    
</body>
    <script>
       
    </script>
</html>