<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>순풋</title>
<style>
@media screen and (max-width: 480px) {
#header {
      grid-area: header;
    }
    #main {
      grid-area: main;
      display: grid;
      grid-template-rows: auto auto;
      grid-gap: 10px;
    }
    #footer {
      grid-area: footer;
    }

    #body {
      display: grid;
      gap: 10px;
      grid-template-rows: 1fr;
      grid-template-areas: 
        'header'
        'main'
        'footer';
    }

  #nav {
    width: 100%;
  }
  #menubar {
    width: 100%;
  }
  .menubar {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 10px 0;
  }
  .menubar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 200px;
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
  }
  .menubar img {
    width: 50px;
    height: 50px;
  }
  footer {
      width: 100%;
      height: 300px;
      margin: 0 auto;
      background-color: #282B33;
    }
}    
@media screen and (min-width: 481px) {
    header {
      width: 100%;
      height: 300px;
      margin: 0;
      padding: 0;
      border: 0;
      display: grid;
      grid-template-rows: auto auto;
    }

    .menubar {
      bottom: 10px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 20px;
      height: 100px;
    }

    .menubar a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      margin: 0 200px;
      display: grid;
      grid-template-rows: auto auto;
      place-items: center;
    }

    .menubar img {
      width: 60px;
      height: 60px;
    }

    .menuname {
      margin-top: 10px;
    }

    main {
      width: 100%;
      margin: 0 auto;
    }
       h1{
        padding: 0px 25px;
       }
        .big_box {
            border: 1px solid #ced4da;
            border-radius: 5px;
            width: 450px;
            box-shadow: 0 0 3px 0 rgb(172,170,170);
            place-items: center;
            justify-content: center;
            margin: auto auto;
        }
        .btn{
            color: white;
            font-weight: bold;
            width: 400.22px;
            height: 38px;
            border-radius: 5px;
            border: 0;
            background-color: #5da034;
            margin-top: 20px;
        }
        footer {
      width: 100%;
      height: 300px;
      margin: 0 auto;
      background-color: #282B33;
    }
}
    </style>
  </head>
<body>
    <header id="header">
        <%- include('nav.html') %>
          <div class="menubar" id="menubar">
            <a href="/board">
              <img src="public/imgs/ball.png" alt="전체 매치">
              <p class="menuname">전체 매치</p>
            </a>
            <a href="/selDate">
              <img src="public/imgs/write.png" alt="매치등록">
              <p class="menuname">매치 등록</p>
            </a>
            <a href="/">
              <img src="public/imgs/notification.png" alt="공지사항">
              <p class="menuname">공지사항</p>
            </a>
          </div>
        </header>
        <hr style="height: 1px; background: #ccc;">
<main>
    <div class="big_box mt-3">
        <!-- 메인컨텐츠 -->
        <h1>프로필수정</h1>

        <form action="/editprofile?_method=PUT" method="POST" class="m-4">
            <div class="form-group">
                <label>닉네임</label>
                <input value=" " type="text" class="form-control" name="nickname">
            </div>
            <div class="form-group">
                <label>성별</label>
                <select class="form-control" name="gender">
                    <option>남성</option>
                    <option>여성</option>
                </select>
            </div>
            <div class="form-group">
                <label>선호포지션</label>
                <select class="form-control" name="position">
                    <option>FW</option>
                    <option>MD</option>
                    <option>DF</option>
                    <option>GK</option>
                </select>
            </div>
            <div class="form-group">
                <label>주 사용 발</label>
                <select class="form-control" name="foot">
                    <option>왼발</option>
                    <option>오른발</option>
                    <option>양발</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="success()">저장</button>
        </form>
    </div>
</main>

<footer>

</footer>

<script>
    function success() {
        alert("프로필이 수정 되었습니다.");
    }
</script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
   
  </body>
</html>